.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6d8093;
  justify-content: space-between;
  padding: 11px 25px;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 528px;
  width: 100%;
  gap: 20px;
}
.navigation {
  display: flex;
  gap: 15px;
  max-width: 410px;
  width: 100%;
  align-items: center;
}
.navigation h4 {
  transition: 0.5s;
  color: var(--text-primary);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-bottom: -2px;
}

.navigation h4:hover {
  color: var(--text-light);
  border-bottom: 2px solid var(--text-light);
}
