.slider-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 80px;
}
.slider {
  padding-top: 40px;
}
.slider-slide {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 40px;
  align-items: center;
}
.slider-arrow {
  cursor: pointer;
  transition: 0.3s;
}
.slider-arrow:hover {
  transform: scale(1.05);
}
.slider-arrow:active {
  transform: scale(1);
}
.slider__project-image {
  max-width: 428px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.slider-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 19px;
  padding: 23px 0;
  align-items: flex-start;
  max-width: 300px;
}
.slider-main__title {
}
.slider-main__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.btn-demo {
}
/* pagination */
.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}
.radio-slide span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: none;
  border: 1px solid var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}
.radio-slide input {
  display: none;
}

.radio-slide input:checked + span {
  background-color: var(--text-primary);
}

/* .page-portfolio {
  position: relative;
} */
#animation {
  position: relative;
  width: 100px;
  height: 100px;
  left: 0;
}
